requests~=2.20
Twisted~=22.4.0rc1
pycoingecko~=1.4.0
python-decouple~=3.4
python-binance~=0.7
ujson>=5.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
autobahn>=20.12.3 # not directly required, pinned by Snyk to avoid a vulnerability